.blue{
    background-color: rgb(165, 186, 204);
}

.beige{
    background-color: rgb(245, 218, 168)
}

.red{
    background-color: rgb(233, 206, 165)
}

.transparent{
    background-color: transparent;
}