@import "colors.css";
@import url(layout.css);
@import url(navbar.css);

/*multi-line vertical alignmet*/
/* .content-table{
    display: table;
    height: 120px;
}

.content-table p{
    display: table-cell;
    vertical-align: middle;
} */

.center-table {
    display: table;
    height: 250px;
    background: white;
    width: 240px;
    margin: 67px;
  }
  .center-table p {
    display: table-cell;
    margin: 0;
    background:#b73131;
    color: white;
    padding: 20px;
    border: 10px solid white;
    vertical-align: middle;
  }

/*block element with known height*/
.pos-relative{
    position: relative;
}

/*.v-centered-block{
    height: 100px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
}*/

/*with unknown height*/
.v-centered-block{
    /* height: 401px; */
    transform: translateY(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
}

/* block element verticaly and holizontaly centered - known height/width */
.v-h-centered-block{
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -70px;
    margin-left: -70px;
}

.v-h-centered-block{
    height: 350px;
    width: 350px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: 0px;
    margin-left: 0px;

    transform: translate(-50%, -50%);
}