body{
    margin: 0px;
    background-color: #c39389;
}

main{
    background-color: #c39389;
}

.dog_pic_main{
    width: 100%;
}

header{
    background-color: black;
}

.logo{
    margin: 20px;
}

.dog{
    text-align: right;
}

.dog-icon{
    width: 37px;
}

.logo-original{
    width: 30%;
    
}

.company-logo{
    text-align: right;
    display: inline-block;
    padding-left: 78px;
}

.dogs_black_and_white{
    display: none;
    width: 90%;
    margin: auto;
}

.flex-item{
    margin: 10px;
    font-family: 'Open Sans', sans-serif;;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}

.navlinks{
    background: linear-gradient( #D95877, #F0A167);
    margin: 0 0 0 -35px;
    z-index: 1;
    display: none;
    text-align: center;
}

.navlinks li{
    margin: 25px 0;
}

ul{
    list-style: none;
}

h1{
    color: #ACB6E5;
    background: linear-gradient(0deg, #F0A167, #D95877);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 2.5em;
    right: 3%;
    text-align: right;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: -1px;
    top: 10%;
}

h2{
    text-align: center;
    margin: 10px;
    top: 25%;
    color: white;
    font-family: 'Passion One', cursive;
    letter-spacing: 1.5px;
    font-size: 5vw;
    text-shadow: 3px 2px 1px #59432F;
}

h3{
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 25px;
    color: #F0A167;
    margin: 20px;
}

h4{
    margin: -4px 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 19px;
    color: #4b4d98;
}

h5{
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    color: #4b4d98;
    text-align: right;
}

h7{
    margin: -4px 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 19px;
    color: #D95877;
}

p{
    font-size: 2px;
    color: #695855;
    margin: 0px;
}

footer{
    background: #deddda;
    margin: 0px;
    text-align: center;
}

.footer p{
    font-family: 'Sulphur Point', sans-serif;
    margin: 15px;
    font-size: 11px;
}

.footer img{
    width: 25px;
    margin: 10px 10px 0px 10px;
}

.footer{
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.about-top{
    display: flex;
}

.about-top img{
    max-width: 100%;
}

.blog-top img{
    width: 100%;
}

.donation-top img{
    width: 100%;
}

.title-set{
    margin: auto;
    position: absolute;
    width: 100%;
    top: 8%;
}

.running_puppy{
    width: 100%;
}

.chihuahua{
    width: 100%;
}

.golden-shower{
    width: 100%;
}

.snoopy{
    width: 100%;
}

.golden_sunset{
    width: 100%;
}

.blog-middle img{
    width: 100%;
}

.about-middle p{
    color: white;
    margin: 30px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.4;
    text-align: center;
}

.about-middle p::first-letter{
    font: 900 25px "Arial Black", Gadget, sans-serif;
    color: #833531;
}

.about-middle3  li{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    font-size: 14px;
    line-height: 1.4;
}

.about-middle3 p{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 35px;
    line-height: 1.5;
    font-size: 12px;
}

.about-middle4 p{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 35px;
    line-height: 1.5;
    font-size: 12px;
}

.about-middle5 p{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.about-middle6 p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    line-height: 1.5;
    font-size: 18px;
}

.about-middle6{
    height: 1050px;
}

.about-middle6 h3{
    color: #C16B55;
    font-size: 21px;
}

.about-middle7 p{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 35px;
    line-height: 1.5;
    font-size: 12px;
}

.blog-top h2{
    letter-spacing: 3px;
    font-size: 11vw;
}

.blog-middle{
    padding-bottom: 10px;
    text-align: center;
}

.box{
    background: #ef9f67;
    padding: 20px;
    border-bottom: 2px solid;
    display: grid;
}

.text-box{
    background-color: white;
    padding: 20px;
    margin: -4px 0 0;
    text-align: left;
}

.text-box p{
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}

.a-p,
.b-p,
.c-p,
.d-p,
.e-p,
.f-p{
    display: none;
    text-align: left;
}

.donation-top h2{
    letter-spacing: 0px;
}

.text-box-adopt{
    background-color: white;
    padding: 20px;
    margin: -4px 0 0;
    text-align: center;
}

.text-box-adopt p{
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.box-adopt{
    background: black;
}

.p-info{
    font-size: 15px;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 20px;
    color: #F0A167;
}

.h3-adopt{
    font-size: 30px;
    color: #F0A167;
    margin: 40px 40px 10px;
}

.adopt-title{
    text-align: center;
}

/* Donation box */
.donation-container {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 0px;
}

.donation-box {
	width: 90%;
    height: 322px;
    color: white;
    text-align: center;
    position: relative;
    margin: 60px auto 90px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.title{
    background: #c39389;
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    opacity: 70%;
}

.donate-button p{
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
}

.button{
    background-color: white;
    color: #6b6767;
    padding: 14px;
    outline: 2px solid #fe8b1b;
    font-size: 25px;
    font-family: 'Passion One', cursive;
    margin: 8px 10px;
}

.donation-box .amount .button:hover {
    background-color: #ff881b;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: #6b6767;
	font-family: 'Passion One', cursive;
	font-size: 25px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed #2f2f2f;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.amount{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    text-align: center;
    padding: 19px;
}

.set-amount {
    max-width: 96px;
}

.e{
    grid-column: 1 / 4;
    grid-row: 3;
}

.checkboxes {
	position: absolute;
	top: 242px;
	left: 13px;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 13px;
	color: gray;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #C1D82F;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    outline: none;
}

.donatebutton{
    color: white;
    text-transform: uppercase;
    margin: 40px;
    padding: 20px;
    font-family: 'Maven Pro', sans-serif;
    background-color: #ef9f67;
    font-size: 20px;
}

.main_donation{
    height: 800px;
}

.readmore{
    display: none;
}

.adopt-middle{
    padding-bottom: 10px;
    text-align: center;
}

.adopt-middle img{
    width: 100%;
}


@media(min-width: 540px){
    .logo{
        width: 100%;
        margin: 40px;
    }
    
    .logo-original {
        width: 45%;
    }

    .dog_pic_main{
        width: 50%;
    }
    
    .blog-middle{
        display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: 50% 50%;
        grid-gap: 10px;
        padding: 54px 150px;
        color: #444;
    }
    
    .box {
        background-color: white;
        color: black;
        padding: 20px;
    }

    .dog-icon{
        display: none;
    }

    .company-logo{
        text-align: left;
        padding-left: 0px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
    }

    .navlinks{
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background: none;
    }

    .navlinks li {
        margin: 0px 40px;
    }

    .flex-item{
        display: block;
        font-size: 18px;
        text-decoration: none;
        text-shadow: 1px 2px 1px black;
        position: relative;
    }

    .flex-item:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .flex-item:hover:before {
        visibility: visible;
        width: 100%;
      }

    .flex-item:nth-child(1){
        order: 1;
    }
    
    .flex-item:nth-child(2){
        order: 2;
    }

    .flex-item:nth-child(3){
        order: 3;
    }

    h1{
        letter-spacing: 0px;
        font-size: 5vw;
    }

    h2{
        margin: 45px;
    }

    .main h1{
        top: 30%;
    }

    .footer p{
        font-size: 20px;
    }

    .footer img {
        width: 30px;
        margin: 20px;
    }

    .dogs_black_and_white{
        display: block;
        width: 100%;
    }

    .width-md-50{
        width: 50%;
        float: left;
    }

    .am{
        width: 100%;
    }

    .am::after {
        content: "";
        display: block;
        clear: both;
      }

    .about-middle p{
        margin: 128px;
        font-size: 1.7vw;
    }

    .goals{
        padding: 30px;
    }

    .am3{
        display: flex;
        align-items: center;
    }

    .running_puppy, 
    .golden-shower,
    .golden_sunset{
        order: 2;
    }

    .goals,
    .wwdi,
    .wwd,
    .hwdi,
    .found{
        margin: 30px;
    }

    .about-middle6{
        height: auto;
    }

    .aa{
        grid-column: 1 / 2 ;
        grid-row: 1 / 3;
    }

    .bb{
        grid-column: 2 / 3 ;
        grid-row: 1 / 2 ;
    }

    .cc{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .dd{
        grid-column: 2 / 3 ;
        grid-row: 2 / 3 ;
    }

    .ee{
        grid-column: 3 /4 ;
        grid-row: 2 / 3 ;
    }

    .ff{
        grid-column: 3 /4 ;
        grid-row: 2 / 3 ;
    }

    .a-p{
        display: block;
    }

    .donation-container{
        text-align: center;
        padding: 40px 40px 150px;
    }

    .donation-box{
        display: inline-block;
    }

    .main_donation{
        height: auto;
    }

    .amount{
        grid-gap: 50px;
        margin-bottom: 80px;
    }

    .donate-button{
        margin-bottom: 20px;
    }

    .donatebutton{
        padding: 20px 80px;
        font-size: 25px;
    }

    h6{
        font-family: 'Maven Pro', sans-serif;
        font-size: 30px;
        color: #F0A167;
        display: inline-block;
        margin: 0 128px;
    }

    .readmore{
        display: block;
        font-family: 'Maven Pro', sans-serif;
        font-size: 13px;
        color: #4b4d97;
    }

    .nav-blog{
        position: unset;
    }

    .post{
        font-size: 15px;
    }

    .am4{
        display: flex;
        align-items: center;
        margin: 0 100px;
    }

    .box-adopt{

    }

    .adopt-middle{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 54px 150px;
        color: #444;
    }
    
    .ad-p{
        display: none;
    }

    .h3-adopt {
        font-size: 55px;
        margin: 70px 40px 10px;
    }

    .p-info {
        font-size: 25px;
    }

    .ad1-p{
        display: none;
    }

    .title-set{
        top: 22%;
    }

    .about-middle p::first-letter{
        font: 900 45px "Arial Black", Gadget, sans-serif;
    }

    .about-middle3 p{
        color: white;
        font-family: Verdana, Geneva, sans-serif;
        margin: 20px;
        line-height: 1.5;
        font-size: 18px;
    }

    .about-middle7 p{
        color: white;
        font-family: Verdana, Geneva, sans-serif;
        margin: 20px;
        line-height: 1.5;
        font-size: 18px;
    }

    .about-middle4 p{
        color: white;
        font-family: Verdana, Geneva, sans-serif;
        margin: 20px;
        line-height: 1.5;
        font-size: 18px;
    }


}