body{
    margin: 0px;
}

main{
    background-color: black;
}

.dog_pic_main{
    width: 100%;
}

header{
    background-color: black;
}

.logo{
    height: 68px;
}

.dog{
    text-align: right;
}

.dog-icon{
    width: 37px;
    margin: 15px;
}

.logo-original{
    width: 18%;
    margin: 13px 0px 13px 224px;
}

.flex-item{
    margin: 10px;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

.navlinks{
    background: linear-gradient( #D95877, #F0A167);
    margin: 0;
    z-index: 1;
    display: none;
}

.navlinks li{
    margin: 25px 0;
}

ul{
    background-color: pink;
    list-style: none;
}

h1{
    color: #ACB6E5;
    background: -webkit-linear-gradient(0deg, #F0A167, #D95877);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 2.5em;
    right: 3%;
    text-align: right;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: -1px;
    top: 10%;
}

h2{
    text-transform: uppercase;
    position: absolute;
    margin: 10px;
    top: 25%;
    color: white;
    font-family: 'Passion One', cursive;
    letter-spacing: 1.5px;
    font-size: 37px;
    text-shadow: 3px 2px 1px #59432F;
}

h3{
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 25px;
    color: #F0A167;
    margin: 20px;
}

h4{
    margin: -4px 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 19px;
    color: #4b4d98;
}

h5{
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    color: #4b4d98;
    text-align: right;
}

p{
    font-size: 2px;
    color: white;
    margin: 0px;
}

footer{
    background: -webkit-linear-gradient(0deg, #F0A167, #D95877);
    height: 67px;
    margin: 0px;
}

.footer p{
    font-family: 'Sulphur Point', sans-serif;
    margin-top: 5px;
    font-size: 11px;
}

.footer img{
    width: 25px;
    margin: 10px 10px 0px 10px;
}

.footer{
    text-align: center;
}

.about-top img{
    width: 100%;
}

.blog-top img{
    width: 100%;
}

.donation-top img{
    width: 100%;
}

.running_puppy{
    width: 100%;
}

.chihuahua{
    width: 100%;
}

.golden-shower{
    width: 100%;
}

.snoopy{
    width: 100%;
}

.golden_sunset{
    width: 100%;
}

.blog-middle img{
    max-width: 100%;
}

.about-middle p{
    color: white;
    margin: 18px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.4;
}

.about-middle p::first-letter{
    font: 900 36px "Arial Black", Gadget, sans-serif;
    color: #D95877;
}

.about-middle2 p{
    color: white;
    margin: 18px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.4;
}

.about-middle3  li{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    font-size: 14px;
    line-height: 1.4;
}

.about-middle3 p{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.about-middle4 p{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    line-height: 1.5;
    font-size: 15px;
}

.about-middle5 p{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.about-middle6 p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.about-middle6{
    height: 1050px;
}

.about-middle6 h3{
    color: #C16B55;
    font-size: 21px;
}

.blog-top h2{
    letter-spacing: 3px;
    font-size: 45px;
}

.blog-middle{
    padding-bottom: 10px;
}

.box{
    background: #ef9f67;
    padding: 20px;
    border-bottom: 2px solid;
}

.text-box{
    background-color: white;
    padding: 20px;
    margin: -4px 0 0;
}

.text-box p{
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}

.a-p{
    display: none;
}

.b-p{
    display: none;
}

.c-p{
    display: none;
}

.donation-top h2{
    letter-spacing: 0px;
}

/* Donation box */
.donation-container {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 0px;
}

.donation-box {
	width: 90%;
    height: 322px;
    color: white;
    text-align: center;
    position: relative;
    margin: 60px auto 90px;
    padding-top: 12px;
	padding-bottom: 12px;
}

.title{
    background: #ef9f67;
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    padding-top: 12px;
	padding-bottom: 12px;
}

.donate-button {
	background: #ef9f67;
	width: 171px;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	bottom: 0px;
	margin: 25px auto;
	cursor: pointer;
	font-weight: 800;
}

.donate-button p{
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
}

.button{
    background-color: white;
    color: #6b6767;
    padding: 14px;
    outline: 2px solid #fe8b1b;
    font-size: 25px;
    font-family: 'Passion One', cursive;
    margin: 8px 10px;
}

.donation-box .amount .button:hover {
    background-color: #ff881b;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: #6b6767;
	font-family: 'Passion One', cursive;
	font-size: 25px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed #2f2f2f;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.amount{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    text-align: center;
    padding: 19px;
}

.set-amount {
    max-width: 96px;
}

.e{
    grid-column: 1 / 4;
    grid-row: 3;
}

.checkboxes {
	position: absolute;
	top: 242px;
	left: 13px;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 13px;
	color: gray;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #C1D82F;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    outline: none;
}

.donatebutton{
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    text-transform: uppercase;
}


@media(min-width: 540px){
    .blog-middle{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 10px;
        color: #444;
    }
    
    .box {
        background-color: white;
        color: black;
        padding: 20px;
    }
}